html {
    scroll-behavior: smooth;
}
body {
    font-family: "DM Serif Display", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 45px;
    text-align: center;
    color: #a5adce;
}
.footer-link {
    font-size: 26px;
    text-align: center;
}
h2 {
    font-size: 26px;
    text-align: center;
    color: #a5adce;
}
h3 {
    font-size: 20px;
    text-align: center;
    color: #a5adce;
}
h4 {
    font-size: 20px;
    text-align: center;
    color: #a5adce;
}
.container {
    max-width: 670px;
    margin: 30px auto;
}
p {
    line-height: 1.5;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
    color: #949cbb;
}
.p2 {
    line-height: 1.5;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
}
hr {
    border: none;
    border-top: 1px solid #a5adce;
    margin: 20px 0;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.t-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
    transition: transform 0.2s;
}
.t-link:active {
    transform: scale(0.95);
}
.t-link:hover {
    background-color: #f0f0f0;
}
.ht-link {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: transparent;
    color: #737994;
    text-decoration: none;
    border: 1px solid #999999bd;
    border-radius: 4px;
    transition: transform 0.2s;
}
.ht-link:active {
    transform: translate(-50%, -50%) scale(0.95);
}
.ht-link:hover {
    background-color: #303446;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.column {
    flex-basis: 31.6%;
    padding: 6px;
}
.row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.card img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    width: 638px;
    height: 180px;
    background-color: #181926;
}
.card2-link {
    color: #a5adcb;
}
.card2-link:hover {
    text-align: center;
    size: 5px;
    color: #f0c6c6;
}
.foot {
    text-align: center;
    size: 5px;
    color: #6e738d;
}
.foot-link {
    text-align: center;
    size: 5px;
    color: #a5adcb;
}
.foot-link:hover {
    text-align: center;
    size: 5px;
    color: #f0c6c6;
}
.foot-img {
    padding-top: 20px;
}
.h1-img {
    height: 110px;
    width: auto;
    padding-top: 10px;
}
.h2-img {
    height: 60px;
    width: auto;
    padding-bottom: 10px;
    padding-top: 20px;
}
.container h3 {
    padding-top: 30px;
}